<div class = "container" >
<div class="row" >
  <div id="primary" class="content-area  col-sm-8">
    <main id="main" class="site-main" role="main">
      <article id="post-44364" class="post-44364 page type-page status-publish hentry">
        <div class="content-area">
          <header class="entry-header">
            <h1 class="entry-title">Terms &amp; Conditions</h1>
          </header>
          <div class="entry-content"><h3><span style="font-weight: 400;">
            Limitation of Liability
          </span></h3>
          <p>
            <span style="font-weight: 400;">The bootstrap themes shall not be held accountable for any direct
              , indirect, special, accidental or considerable damages that includes but not bound to, 
              loss of data or profit caused due to use or inability to use the products 
              that we provide under any circumstances, even if the bootstrap themes or legit representative 
              has been considered the possibility of such damages. You are soley held responsible of any costs
               caused, if your use of materials from this site results in the need for servicing, 
               repair or correction of equipment or data.</span></p>
               <h3><span style="font-weight: 400;">Licensing Policy</span></h3>
                 <p><span style="font-weight: 400;">The Bootstrap themes are released under the GNU General Public
                   License v2 or later.&nbsp;</span>
                   <span style="font-weight: 400;">You can use all our themes for personal and commercial use.&nbsp;</span>
                   <span style="font-weight: 400;">Please go through the </span>
                   <a href="https://thebootstrapthemes.com/licensing-policy/">
                    <span style="font-weight: 400;">licensing policy page</span></a>
                    <span style="font-weight: 400;"> for licensing details.</span></p><h3>
                      <span style="font-weight: 400;">Product Compatibility</span></h3>
                      <ol>
                        <li style="font-weight: 400;"><strong>WordPress Themes:</strong>
                          <span style="font-weight: 400;"><br> </span>
                          <span style="font-weight: 400;">The products are developed to be compatible with the latest version of WordPress 
                            because we always strive to stay up-to-date with the latest version of WordPress. 
                            You might experience certain performance or functionality glitches with the
                             products if you use any version prior to that.</span>
                        </li>
                        <li style="font-weight: 400;"><strong>HTML Themes:</strong>
                          <span style="font-weight: 400;"><br> </span>
                          <span style="font-weight: 400;">The products designed are developed possess static
                             features. Whereas, in need of forms or any other dynamic features, 
                             you will have to code as per your product requirement.</span>
                        </li>
                      </ol>
                      <h3><span style="font-weight: 400;">Delivery</span></h3>
                      <p><span style="font-weight: 400;">Any kind of information related to your purchased 
                        product(s) will be emailed to the email address that you have provided once we 
                        receive your payment. This process usually takes few minutes, but for some issue 
                        might get extended to 24 hours. In case you do not receive your email up to the 
                        allocated time period, you can contact us through our contact page. 
                        Also, you can access the products that you have purchased from your account 
                        in the bootstrap theme after logging in.</span></p><h3>
                          <span style="font-weight: 400;">Ownership</span></h3>
                          <p><span style="font-weight: 400;">The Bootstrap Themes claims ownership on
                             all of its products. Hence, you may not demand your any kind of proprietorship
                              over any of our products, modified or unmodified. 
                              We provide our products without any warranty, as it is. 
                              You cannot hold our legit person accountable to any kind of damage including, 
                              but not limited to direct, indirect, special, 
                              incidental or consequential damages or other losses caused due to 
                              inefficiency in using our products.</span></p><h3>
                                <span style="font-weight: 400;">Browser Compatibility</span></h3>
                                <p><span style="font-weight: 400;">We are solely concerned with providing 
                                  the best possible quality in products to our users. 
                                  Thus, we make it sure that our themes and templates are compatible 
                                  across most major browsers including the latest version of modern web browsers
                                   such as Safari, Firefox, Internet explorer 9+ and Chrome.</span></p><h3>
                                <span style="font-weight: 400;">Updates</span></h3><p>
                                <span style="font-weight: 400;">We provide our license holders who have an 
                                  active and valid subscription and licence key with one click updates. 
                                  As long as the license key generated from the purchase is valid and active,
                                   you can get access to the updates. We have provision of updates for a
                                  1 year time period.</span></p><p>
                                    <span style="font-weight: 400;">We advise you to constantly get updated 
                                      with the current version of our themes for your usage.
                                      Since, we constantly update our themes to be compatible with the latest 
                                      version of WordPress.</span></p><h3>
                                    <span style="font-weight: 400;">Theme Support</span></h3>
                                    <p><span style="font-weight: 400;">Please go through to </span>
                                    <a href="https://thebootstrapthemes.com/help-support-policy/">
                                    <span style="font-weight: 400;">Help and Support Policy page</span></a>
                                    <span style="font-weight: 400;"> for further details.</span></p><h3>
                                    <span style="font-weight: 400;">Price Changes</span></h3><p>
                                    <span style="font-weight: 400;">Please be informed that it is our sole 
                                    right to modify or disallow, permanently or temporarily a subscription at any 
                                    point of time and from time to time with or without any prior notice.</span></p>
                                    <h3><span style="font-weight: 400;">Refund Policy</span></h3>
                                    <p><span style="font-weight: 400;">Please go through to </span>
                                      <a href="https://thebootstrapthemes.com/refund-policy/">
                                        <span style="font-weight: 400;">Refund Policy page</span></a>
                                        <span style="font-weight: 400;"> for further details.</span></p><h3>
                                        <span style="font-weight: 400;">Email</span></h3><p>
                                        <span style="font-weight: 400;">We occasionally send you emails concerned with the 
                                        purchase of the product(s) from our company. We also send you email newsletters 
                                        concerning the WordPress and bootstrap themes promotions and updates. 
                                        We assure you that we do not sell or release your email to any third party vendors. 
                                        You may withdraw your emails at any time without fine or penalty. </span></p><h3>
                                        <span style="font-weight: 400;">License Agreement:</span></h3><p>
                                        <span style="font-weight: 400;">We believe that you have provided your full consent
                                        and read and agreed to the Terms and Conditions mentioned and explained on this 
                                        page while purchasing our product(s). We hold the right to change or modify the 
                                        present Terms and Conditions solely without any prior consent or notice.</span></p><h3>
                                        <span style="font-weight: 400;">Severability</span></h3><p>
                                        <span style="font-weight: 400;">If any part of this agreement is declared unenforceable 
                                        or invalid, all remaining clauses in this agreement shall remain binding on the customer.
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </article>
                            </main>
                          </div>
                        </div>


             
</div>  


