<div class="container">
  <div class="row">
    <ul class="ds-btn">
      <li>
        <a class="btn btn-lg btn-primary" [routerLink]="['/manageevents/addevent']" routerLinkActive="router-link-active" >
          <i class="glyphicon glyphicon-user pull-left"></i><span>ADD EVENT<br><small>Add new Event</small></span></a>

      </li>
      <li>
        <a class="btn btn-lg btn-success " [routerLink]="['/manageevents/dashboard']" routerLinkActive="router-link-active">
          <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Dashboard<br><small>All Events You have registerd in</small></span></a>

      </li>
      <li>
        <a class="btn btn-lg btn-danger " [routerLink]="['/manageevents/update']" routerLinkActive="router-link-active">
          <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Update/Delete<br><small>Events you want to edit</small></span></a>

      </li>
    </ul>
    <router-outlet></router-outlet>
    

  </div>