

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <div class="logo">
                <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo">
            </div>
            <br>
            <div class="left-navigation">
                <ul class="list">
                    <h5><strong>Options</strong></h5>
                    <li>
                        <a class="btn btn-success " [routerLink]="['/manageevents/dashboard']" routerLinkActive="router-link-active">
                          <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Dashboard<br><small>All Events Your Events</small></span></a>
                    </li>
                    <li>
                        <a class="btn btn-primary" [routerLink]="['/manageevents/addevent']" routerLinkActive="router-link-active" >
                          <i class="glyphicon glyphicon-user pull-left"></i><span>ADD EVENT<br><small>Add new Event</small></span></a>
                
                    </li>
                    <li>
                        <a class="btn btn-danger " [routerLink]="['/manageevents/update']" routerLinkActive="router-link-active">
                          <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Update/Delete<br><small>Events you want to edit</small></span></a>
                
                    </li>
                </ul>

                <br>
            </div>
        </div>
        <div class="col-md-10 col-sm-8 main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>












    


