
<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
       [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" >
        <span *ngIf="display"><strong>{{record.event_name}}</strong></span>
          <ng-content select=".app-modal-header"></ng-content>
          
        </div>
        <div class="modal-body">
        <div *ngIf="display">
        <img [src]="record.event_image_url">
        <br><br>
        <span *ngIf="record.event_category!=''"><b>Category: </b>{{record.event_category}}</span><br>
        <span ><b>Age Group: </b>{{record.event_min_age}} to {{record.event_max_age}}  Yrs</span><br>
        <span  style="font-size: 13px"><b>Price:</b> ₹ {{record.event_price}}</span><br>
        <span><b>Date: </b> {{record.event_last_date}}</span>  
        
        <span><b>Starts: </b>{{record.event_start_time}}</span>
        <span><b>Ends: </b>{{record.event_end_time}}</span><br>
        <span><b>Venue: </b><span *ngIf="record.event_location.address.street!=''">{{record.event_location.address.street}}<br></span></span>
        <span>{{record.event_location.address.street}} , {{record.event_location.address.city}}</span><br>
        <span *ngIf="allEvents[keyname].myLocation!=''"><b>Locality: </b>{{record.event_location.address.street}} </span>
        <span *ngIf="allEvents[keyname].myPincode!=''"><b>Pincode: </b>{{record.event_location.address.pin}} </span><br>
       
        <span *ngIf="allEvents[keyname].myContactDetails['contactPerson']!=''"><b>Contact Person : </b>{{record.event_organizer.name}}</span>
        <span *ngIf="allEvents[keyname].myContactDetails['telephoneNo']!=''"><b>Tel : </b>8723498797</span><br>
        
        <span  style="font-size: 13px" [innerHTML]="allEvents[keyname]?.description"></span>
        <span *ngIf="allEvents[keyname].url!=''"><b>Booking Url : </b><a target="_blank" [href]="record.event_booking.url">{{record.event_booking.url}}</a></span>
        
        
        

        </div>
        

        <br>
          <ng-content select=".app-modal-body"></ng-content>
        </div>
        <div class="modal-footer">
          <ng-content select=".app-modal-footer"></ng-content>
        </div>
      </div>
    </div>
  </div>
  


 <div class="jw-modal">
    <div class="jw-modal-body">
        <ng-content></ng-content>
    </div>
</div>
<div class="jw-modal-background"></div>













  