<div class="container description-container" *ngIf="eventObj">

  <div class="container">
  <br />
  <div class="container">
  <div class="row col-lg-12">
    <h3 class="card-title"><b>{{eventObj.myDisplayTitle}}</b></h3>
    <h5 class="card-subtitle text-muted" style="text-transform:uppercase; color:#a8a8a8;"><span *ngIf="eventObj.myCategory!=''">{{eventObj?.myCategory}}</span></h5>
  
  <hr></div>
  
  <div class="row col-lg-8 col-md-6 col-sm-12 col-xs-12"> <!--Image Div-->
  <img style="max-height: auto; width: 100%; display: block; " [src]="eventObj.img_url" alt="Card image">
  </div>
  
  
  <div class="row col-lg-4 col-md-6 hidden-sm hidden-xs" style="margin-left:5px; font-size:15px;">
          <span style="text-transform:uppercase; font-size:18px">
  <i class="fa fa-calendar"></i> {{eventObj?.upcoming_occurrences[occurrence]["date"].split(':')[0] | amParse:'YYYY-MM-DD' | amDateFormat:'LL'}}</span><br /><br />
  
  <span style="text-transform:uppercase; font-size:14px"><i class="fa fa-child"></i> {{eventObj?.myAge["lower"] + ' - ' + eventObj?.myAge["upper"]}}  Years </span><br/> <br />
  <span style="text-transform:uppercase; font-size:14px"><i class="fa fa-clock-o"></i>{{(eventObj?.upcoming_occurrences[occurrence]["start_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}</span>
  <span> to {{(eventObj?.upcoming_occurrences[occurrence]["end_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}</span><br /><br />
  
  
  <span><i class="fa fa-map-marker"></i> {{eventObj?.venue["name"] + ", " }} {{eventObj?.venue["address"] + ", " + eventObj?.venue["city"]}}</span><br /><br />
  
  <span><i class="fa fa-rupee"></i> {{eventObj?.price[0]['value']}}</span><br /><br />
  
  <span *ngIf="eventObj.url!=''"><a class="btn btn-danger" target="_blank" [href]="eventObj?.url"><i class="fa fa-external-link"></i> Book Here!</a></span>
  
  
  </div>
  <div class="row col-xs-12 col-sm-12 hidden-lg hidden-md hidden-sm" style="margin-top:5px; font-size:15px;">
  <hr>
          <span style="text-transform:uppercase; font-size:18px">
  <i class="fa fa-calendar"></i> {{eventObj?.upcoming_occurrences[occurrence]["date"].split(':')[0] | amParse:'YYYY-MM-DD' | amDateFormat:'LL'}}</span><br /><br />
  
  <span style="text-transform:uppercase; font-size:14px"><i class="fa fa-child"></i> {{eventObj?.myAge["lower"] + ' - ' + eventObj?.myAge["upper"]}}  Years </span><br/> <br />
  <span style="text-transform:uppercase; font-size:14px"><i class="fa fa-clock-o"></i>{{(eventObj?.upcoming_occurrences[occurrence]["start_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}</span>
  <span> to {{(eventObj?.upcoming_occurrences[occurrence]["end_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}</span><br /><br />
  
  
  <span><i class="fa fa-map-marker"></i> {{eventObj?.venue["name"] + ", " }} {{eventObj?.venue["address"] + ", " + eventObj?.venue["city"]}}</span><br /><br />
  
  <span><i class="fa fa-rupee"></i> {{eventObj?.price[0]['value']}}</span><br /><br />
  
  <!--URL HERE-->
  
  <span *ngIf="eventObj.url!=''"><a class="btn btn-danger" target="_blank" [href]="eventObj?.url"><i class="fa fa-external-link"></i> Book Here!</a></span> 
  
  
  </div>
  <hr>
  
  </div>
  <div class="container">
  <div class="row col-lg-12">
  <hr>
  <h4 style="text-transform:uppercase"><b>About this event</b></h4>
  <p><span [innerHTML]="eventObj?.description"></span>
  
  </div>
  <div class="row col-lg-12"> <!--Map Div-->
  <hr> 
  <!-- Map Goes Here-->
  </div>
  </div>
  
  </div>
  
  
  
  </div>
  