<div class="section-3">
        <div class="row">
            <p class= "col-md-4 text-color">
                @copyright Vyzta Ventures 2019
            </p>
            <p class= "col-md-8 text-color">
                    <span  class="toolbar_login "><a [routerLink]="['/footabout']"  class="toolbar_login ">About</a></span>
                     . 
                    <span  class="toolbar_login "><a [routerLink]="['/footextra']"  class="toolbar_login ">Contact Us</a></span>
                    .
                    <span  class="toolbar_login "><a [routerLink]="['/footextra']"  class="toolbar_login ">Blog</a></span>
                    .
                    <span  class="toolbar_login "><a [routerLink]="['/footextra']"  class="toolbar_login ">Terms and conditions</a></span>
            </p>
        </div>
</div>
        

