<div  class="row">
         
 
      
    <div  class="col-sm-9">
      <form  class="form-vertical ng-untouched ng-pristine ng-invalid" (submit)="OnSubmit()" novalidate="">

        





        <div  class="panel panel-default">
          
          <div  class="panel-heading">Event details</div>
          <div  class="panel-body">
            <div  class="form-group">
              <div  class="row">

                <div  class="col-sm-12">
                  <label  >Title </label>
                  <input  [(ngModel)]="event.event_name"  [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-invalid"  required="" type="text">
                  <!---->
                </div>
                <div  class="col-sm-12">
                  <br >
                  <label  >Description </label>
                  <textarea  [(ngModel)]="event.event_description" [ngModelOptions]="{standalone: true}" class="form-control col-sm-8 expand ng-untouched ng-pristine ng-invalid" required="" rows="6" style="width: 99%"></textarea>
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div  class="panel panel-default">
          <div  class="panel-heading" >Event Category</div>
          <div  class="panel-body">

            <div  class="form-group">
              <div  class="row">
                <div  class="col-sm-6">
                  <label >Category</label>
                  <select [(ngModel)]="event.event_category" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" id="category">
                    <option  value="" >Choose a category</option>
                    <!----><option  >Indoors/Arts &amp; Crafts</option><option >Sports &amp; Outdoors</option><option >Science &amp; Tech</option><option >Live Events</option><option >Performing Arts</option>

                  </select>

                </div>
                <div  class="col-sm-6">
                  <label >Sub_category</label>
                  <input  [(ngModel)]="event.event_subcategory" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" type="text">
                </div>
                <div  formgroupname="age" style=" margin:4px" class="row ng-untouched ng-pristine ng-invalid">
                  <div  class="col-sm-6">
                    <br >
                    <label >Age (in Yrs) From </label>
                    <input  [(ngModel)]="event.event_Min_age" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-invalid" min="0"  required="" type="number">
                    <!---->
                  </div>
                  <div  class="col-sm-6">
                    <br >
                    <label >To </label>
                    <input  [(ngModel)]="event.event_Max_age" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-invalid" min="1" required="" type="number">
                    <!---->
                  </div>
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div  class="panel panel-default">
          <div  class="panel-heading">Event Occurrence</div>
          <div  class="panel-body">

            <div  class="form-group">
              <div  class="row">
                <div  class="col-sm-6">
                  <label >Start Date</label>
                  <input  [(ngModel)]="event.event_start_date" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" type="date">
                  

                </div>

                <div  class="col-sm-6">
                  <label >End Date</label>
                  <input  [(ngModel)]="event.event_end_date" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" type="date">
                  
                </div>
                <div  class="col-sm-6">
                  <br >
                  <label >Start Time</label>
                  <input  [(ngModel)]="event.event_start_time" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" type="time">
                </div>
                <div  class="col-sm-6">
                  <br >
                  <label >End Time</label>
                  <input  [(ngModel)]="event.event_end_time" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" type="time">
                </div>

                <div  class="col-sm-12">
                  <br >
                  <label >Event Venue</label>
                  <br >
                  <label  >City</label>
                  <select  [(ngModel)]="event.event_city" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" id="cityDropdown">
                    <option  value="" >Choose a city</option>
                    <!----><option >Bangalore</option><option >Chennai</option><option >Delhi NCR</option><option >Goa</option><option >Hyderabad</option><option >Kochi</option><option >Kolkata</option><option >Mumbai</option><option >New York</option><option >Pune</option><option >Singapore</option><option >Tokyo</option>
                  </select>
                </div>
                <div  class="col-sm-6">
                  <br >
                  <label >Place</label>
                  <select  [(ngModel)]="event.event_place" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" id="place">
                    <option  value="">Choose a place</option>
                    <!----><option >Delhi NCR</option>
                  </select>
                </div>
                <div  class="col-sm-6">
                  <br >
                  <label >Any Other Place</label>
                  <input [(ngModel)]="event.event_street" [ngModelOptions]="{standalone: true}"class="form-control ng-untouched ng-pristine ng-valid" type="text">
                </div>


                <div  class="col-sm-6">
                  <br >
                  <label >Address</label>
                  <textarea  [(ngModel)]="event.event_address" [ngModelOptions]="{standalone: true}" class="form-control col-sm-8 expand ng-untouched ng-pristine ng-invalid" rows="1" style="width: 99%"></textarea>
                  <!---->
                </div>

                <div  class="col-sm-6">
                  <br >
                  <label >Pincode</label>
                  <input  [(ngModel)]="event.event_pincode" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" type="number">
                </div>

              </div>
            </div>
          </div>
        </div>

        
        

        <div  class="panel panel-default">
          <div  class="panel-heading">Contact Details</div>
          <div  class="panel-body">

            <div  class="form-group">
                <div  class="row">
                  <div  class="col-sm-6">
                    <label  >Organizer Name</label>
                    <input  [(ngModel)]="event.event_organiser_name" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" id="O_name">
                  </div>
                  <div  class="col-sm-6">
                    <label >Organizer Website</label>
                    <input  [(ngModel)]="event.event_organizer_website" [ngModelOptions]="{standalone: true}" autocomplete="new-password" class="form-control ng-untouched ng-pristine ng-valid">
                    <!---->
                  </div>
  
                </div>
              </div>
            <div  class="form-group">
              <div  class="row">
                <div  class="col-sm-6">
                  <label >Phone</label>
                  <input  [(ngModel)]="event.event_phone" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" id="phone" pattern="^[789]\d{9}$" placeholder="123-4567-890" type="tel">
                </div>
                <div  class="col-sm-6">
                  <label >E-mail</label>
                  <input  [(ngModel)]="event.event_email" [ngModelOptions]="{standalone: true}" autocomplete="new-password" class="form-control ng-untouched ng-pristine ng-valid" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" placeholder="Email address" type="email">
                  <!---->
                </div>

              </div>
            </div>
          </div>
        </div>

        <div  class="panel panel-default">
            <div  class="panel-heading">URLs</div>
            <div  class="panel-body">
  
              <div  class="form-group">
                <div  class="row">
                  <div  class="col-sm-6">
                  <div class="row">
                  <div  class="col-sm-6">
                    <label >Image url</label>
                  </div>  
                  </div>
                   <div class="row">
                   <div  class="col-sm-8">
                    <input  (change)="OnFileSelected($event)" type="file" #image accept="image/*">
                    <input  (click)="OnSubmitPhoto()" class="btn btn-primary" type="button" value="Upload">
                    <img src="{{selectedImageUrl}}" height=200 width=200>
                    </div>
                  </div>
                  
                    
                  </div>
                  <div  class="col-sm-6">
                    <label >Booking Url</label>
                    <input   [(ngModel)]="event.event_booking_url" [ngModelOptions]="{standalone: true}"  class="form-control ng-untouched ng-pristine ng-valid" >
                    <!---->
                  </div>
  
                </div>
                <div  class="row">
                    <div  class="col-sm-6">
                      <label >Enquiry Url</label>
                      <input  [(ngModel)]="event.event_enquiry_url" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-valid" id="E_url">
                    </div>
    
                  </div>
              </div>
            </div>
          </div>
  



        <div  class="panel panel-default">
          <div  class="panel-heading">Your price</div>
          <div  class="panel-body">
            <div  class="form-group">
              <div  class="row">
                <div  class="col-sm-6">
                  <input  name ="event" [(ngModel)]="event.event_price" [ngModelOptions]="{standalone: true}" class="form-control ng-untouched ng-pristine ng-invalid"  min="0" placeholder="How much do you want it to be listed for?" type="number">
                  <!---->
                </div>
              </div>
            </div>

          </div>
        </div>
  
        <div *ngIf="errorMessage!=null" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="res!=null" class="alert alert-danger">
          {{ res.event }}
        </div>

        <div >

          


          
          <input  class="btn btn-primary" type="submit" value="Submit">
          <br >
          <p  class=" hidden-xs">
            <small >* event will be published
              <br > once our team approves it </small>
          </p>
        </div>




      </form>

     
          
    </div>
  </div>