<div _ngcontent-c1="" class="row">
         
      
      
      
    <div _ngcontent-c1="" class="col-sm-9">
      <form _ngcontent-c1="" class="form-vertical ng-untouched ng-pristine ng-invalid" novalidate="">

        





        <div _ngcontent-c1="" class="panel panel-default">
          
          <div _ngcontent-c1="" class="panel-heading">Event details</div>
          <div _ngcontent-c1="" class="panel-body">
            <div _ngcontent-c1="" class="form-group">
              <div _ngcontent-c1="" class="row">

                <div _ngcontent-c1="" class="col-sm-12">
                  <label _ngcontent-c1="">Title </label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="title" name="title" required="" type="text">
                  <!---->
                </div>
                <div _ngcontent-c1="" class="col-sm-12">
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">Description </label>
                  <textarea _ngcontent-c1="" class="form-control col-sm-8 expand ng-untouched ng-pristine ng-invalid" formcontrolname="description" name="description" required="" rows="6" style="width: 99%"></textarea>
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div _ngcontent-c1="" class="panel panel-default">
          <div _ngcontent-c1="" class="panel-heading">Event Category</div>
          <div _ngcontent-c1="" class="panel-body">

            <div _ngcontent-c1="" class="form-group">
              <div _ngcontent-c1="" class="row">
                <div _ngcontent-c1="" class="col-sm-6">
                  <label _ngcontent-c1="">Category</label>
                  <select _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="category" id="category" name="category">
                    <option _ngcontent-c1="" value="">Choose a category</option>
                    <!----><option _ngcontent-c1="">Indoors/Arts &amp; Crafts</option><option _ngcontent-c1="">Sports &amp; Outdoors</option><option _ngcontent-c1="">Science &amp; Tech</option><option _ngcontent-c1="">Live Events</option><option _ngcontent-c1="">Performing Arts</option>

                  </select>

                </div>
                <div _ngcontent-c1="" class="col-sm-6">
                  <label _ngcontent-c1="">Sub_category</label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="anyOtherCategory" name="anyOtherCategory" type="text">
                </div>
                <div _ngcontent-c1="" formgroupname="age" class="ng-untouched ng-pristine ng-invalid">
                  <div _ngcontent-c1="" class="col-sm-6">
                    <br _ngcontent-c1="">
                    <label _ngcontent-c1="">Age (in Yrs) From </label>
                    <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="startAge" min="0" name="startAge" required="" type="number">
                    <!---->
                  </div>
                  <div _ngcontent-c1="" class="col-sm-6">
                    <br _ngcontent-c1="">
                    <label _ngcontent-c1="">To </label>
                    <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="endAge" min="1" name="endAge" required="" type="number">
                    <!---->
                  </div>
                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div _ngcontent-c1="" class="panel panel-default">
          <div _ngcontent-c1="" class="panel-heading">Event Occurrence</div>
          <div _ngcontent-c1="" class="panel-body">

            <div _ngcontent-c1="" class="form-group">
              <div _ngcontent-c1="" class="row">
                <div _ngcontent-c1="" class="col-sm-6">
                  <label _ngcontent-c1="">Start Date</label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="startDate" name="startDate" type="date">
                  

                </div>

                <div _ngcontent-c1="" class="col-sm-6">
                  <label _ngcontent-c1="">End Date</label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="endDate" name="endDate" type="date">
                  
                </div>
                <div _ngcontent-c1="" class="col-sm-6">
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">Start Time</label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="startTime" name="startTime" type="time">
                </div>
                <div _ngcontent-c1="" class="col-sm-6">
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">End Time</label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="endTime" name="endTime" type="time">
                </div>

                <div _ngcontent-c1="" class="col-sm-12">
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">Event Venue</label>
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">City</label>
                  <select _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="city" id="cityDropdown" name="city">
                    <option _ngcontent-c1="" value="">Choose a city</option>
                    <!----><option _ngcontent-c1="">Bangalore</option><option _ngcontent-c1="">Chennai</option><option _ngcontent-c1="">Delhi NCR</option><option _ngcontent-c1="">Goa</option><option _ngcontent-c1="">Hyderabad</option><option _ngcontent-c1="">Kochi</option><option _ngcontent-c1="">Kolkata</option><option _ngcontent-c1="">Mumbai</option><option _ngcontent-c1="">New York</option><option _ngcontent-c1="">Pune</option><option _ngcontent-c1="">Singapore</option><option _ngcontent-c1="">Tokyo</option>
                  </select>
                </div>
                <div _ngcontent-c1="" class="col-sm-6">
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">Place</label>
                  <select _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="place" id="place" name="place">
                    <option _ngcontent-c1="" value="">Choose a place</option>
                    <!----><option _ngcontent-c1="">Delhi NCR</option>
                  </select>
                </div>
                <div _ngcontent-c1="" class="col-sm-6">
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">Any Other Place</label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="anyOtherPlace" name="anyOtherPlace" type="text">
                </div>


                <div _ngcontent-c1="" class="col-sm-6">
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">Address</label>
                  <textarea _ngcontent-c1="" class="form-control col-sm-8 expand ng-untouched ng-pristine ng-invalid" formcontrolname="address" name="address" rows="1" style="width: 99%"></textarea>
                  <!---->
                </div>

                <div _ngcontent-c1="" class="col-sm-6">
                  <br _ngcontent-c1="">
                  <label _ngcontent-c1="">Pincode</label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="pinCode" name="pinCode" type="number">
                </div>

              </div>
            </div>
          </div>
        </div>

        
        

        <div _ngcontent-c1="" class="panel panel-default">
          <div _ngcontent-c1="" class="panel-heading">Contact Details</div>
          <div _ngcontent-c1="" class="panel-body">

            <div _ngcontent-c1="" class="form-group">
                <div _ngcontent-c1="" class="row">
                  <div _ngcontent-c1="" class="col-sm-6">
                    <label _ngcontent-c1="">Organizer Name</label>
                    <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="O_name" id="O_name" name="O_name">
                  </div>
                  <div _ngcontent-c1="" class="col-sm-6">
                    <label _ngcontent-c1="">Organizer Website</label>
                    <input _ngcontent-c1="" autocomplete="new-password" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="website" name="website">
                    <!---->
                  </div>
  
                </div>
              </div>
            <div _ngcontent-c1="" class="form-group">
              <div _ngcontent-c1="" class="row">
                <div _ngcontent-c1="" class="col-sm-6">
                  <label _ngcontent-c1="">Phone</label>
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="phone" id="phone" name="phone" pattern="^[789]\d{9}$" placeholder="123-4567-890" type="tel">
                </div>
                <div _ngcontent-c1="" class="col-sm-6">
                  <label _ngcontent-c1="">E-mail</label>
                  <input _ngcontent-c1="" autocomplete="new-password" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="email" name="email" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" placeholder="Email address" type="email">
                  <!---->
                </div>

              </div>
            </div>
          </div>
        </div>

        <div _ngcontent-c1="" class="panel panel-default">
            <div _ngcontent-c1="" class="panel-heading">URLs</div>
            <div _ngcontent-c1="" class="panel-body">
  
              <div _ngcontent-c1="" class="form-group">
                <div _ngcontent-c1="" class="row">
                  <div _ngcontent-c1="" class="col-sm-6">
                    <label _ngcontent-c1="">Image url</label>
                    <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="I_url" id="I_url" name="I_url">
                  </div>
                  <div _ngcontent-c1="" class="col-sm-6">
                    <label _ngcontent-c1="">Booking Url</label>
                    <input _ngcontent-c1="" autocomplete="new-password" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="B_url" name="B_url">
                    <!---->
                  </div>
  
                </div>
                <div _ngcontent-c1="" class="row">
                    <div _ngcontent-c1="" class="col-sm-6">
                      <label _ngcontent-c1="">Enquiry Url</label>
                      <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="E_url" id="E_url" name="E_url">
                    </div>
    
                  </div>
              </div>
            </div>
          </div>
  



        <div _ngcontent-c1="" class="panel panel-default">
          <div _ngcontent-c1="" class="panel-heading">Your price</div>
          <div _ngcontent-c1="" class="panel-body">
            <div _ngcontent-c1="" class="form-group">
              <div _ngcontent-c1="" class="row">
                <div _ngcontent-c1="" class="col-sm-6">
                  <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="price" min="0" name="price" placeholder="How much do you want it to be listed for?" type="number">
                  <!---->
                </div>
              </div>
            </div>

          </div>
        </div>



        <div _ngcontent-c1="">

          


          
          <input _ngcontent-c1="" class="btn btn-primary" type="submit" value="Submit" (click)="isLoggedIn()">
          <br _ngcontent-c1="">
          <p _ngcontent-c1="" class=" hidden-xs">
            <small _ngcontent-c1="">* event will be published
              <br _ngcontent-c1=""> once our team approves it </small>
          </p>
        </div>




      </form>
    </div>




  </div>