<div class="container">

                        <div class="row">
                            <div id="primary" class="content-area  col-sm-8">
                              <main id="main" class="site-main" role="main">
                                <article id="post-44364" class="post-44364 page type-page status-publish hentry">
                                  <div class="content-area">
                                    <header class="entry-header">
                                      <h1 class="entry-title">About &amp; Us</h1>
                                    </header>
                                    <span style="font-weight: 400;">Noddy's Club is started by parents who found a dearth of information about kid's activities in their neighborhood. We help parents discover and book awesome activities for their kids - now you will have plenty of options.
                    
                                        Please share your feedback and suggestions with us on how we can this more amazing.</span>
                                  </div>
                                </article>
                              </main>
                            </div>
                        </div>   

</div>