

<mat-toolbar>
  <mat-toolbar-row>
  <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <i class="fa fa-bars"></i>
  </button>
  <span ><a routerLink = "/"  class="toolbar_logo">Noddys Club</a></span>
  <span fxShow="true" fxHide.lt-md="true">|</span>
   <span class="toolbar_city" fxShow="true" fxHide.lt-md="true">
    <mat-form-field>
      <mat-select [(value)]="LocationNav">
        <mat-option *ngFor="let city of cities" [value]="city.value" >
          {{city.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
  <span *ngIf="!isLoggedIn()" class="toolbar_login" ><a routerLink="/home/login" class="toolbar_login_events ">Log In</a></span>
  <span *ngIf="!isLoggedIn()" class="toolbar_login_events"><a routerLink="/home/login" class="toolbar_login_events ">Add Event</a></span>
  <span *ngIf="isLoggedIn()" class="toolbar_login_events"><a routerLink="/manageevents/addevent" class="toolbar_login_events ">Add Event</a></span>
  <span *ngIf="isLoggedIn()" class="toolbar_login_events "><a [routerLink]="['/manageevents/dashboard']" class="toolbar_login_events ">Manage Events  </a></span>
  <span *ngIf="isLoggedIn()" class="toolbar_login "><a [routerLink]="['/logout']"  class="toolbar_login ">Logout</a></span>
  </div>
  
  </mat-toolbar-row>
</mat-toolbar> 

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
      <span *ngIf="!isLoggedIn()" class="toolbar_login">
      <a routerLink="/home/login" class="toolbar_login_events " mat-list-item>Log In</a></span>
      <span *ngIf="!isLoggedIn()" class="toolbar_login" >
      <a routerLink="/home/login" class="toolbar_login_events " mat-list-item>Add Event</a></span>
      <span *ngIf="isLoggedIn()" class="toolbar_login_events">
      <a routerLink="/manageevents/addevent" class="toolbar_login_events ">Add Event</a></span>
      <span *ngIf="isLoggedIn()" class="toolbar_login_events " mat-list-item>
      <a [routerLink]="['/manageevents/dashboard']" class="toolbar_login_events " mat-list-item>Manage Events  </a></span>
      <span *ngIf="isLoggedIn()" class="toolbar_login ">
      <a [routerLink]="['/logout']"  class="toolbar_login " mat-list-item>Logout</a></span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

