



@font-face {
  font-family: 'Playlist-Script';
  src:url('../../../assets/fonts/Playlist-Script.ttf.woff') format('woff'),
      url('../../../assets/fonts/Playlist-Script.ttf.svg#Playlist-Script') format('svg'),
      url('../../../assets/fonts/Playlist-Script.ttf.eot'),
      url('../../../assets/fonts/Playlist-Script.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}


.mat-toolbar{
    background: white;
    border-bottom: 1px solid #d6d6d6;
}

.toolbar_logo{
    color: #f44336;
    font-weight: 600;
    margin-right: 20px;
    font-size: 1.1em;
    font-family: 'Playlist-Script';
}

.toolbar_city{
    flex: 1 0 auto;
    margin-left: 20px;
    font-size: 0.75em;
}

.toolbar_login{
    color: #f44336;
    font-weight: bold;
    font-size: 0.9em;
}

.toolbar_login_events{
    color: #f44336;
    font-weight: bold;
    font-size: 0.9em;
    margin-right: 10px;
}

.toolbar_logout{
    color: #f44336;
    font-weight: bold;
    font-size: 0.9em;
}


.example-spacer {
    flex: 1 1 auto;
  }

/* .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  } */
  


