<mat-toolbar>
  <span class="toolbar_logo"><a routerLink = "/">Noddys Club</a></span>
  <span>|</span>
  <span class="toolbar_city">
    <mat-form-field>
      <mat-select placeholder="Select City">
        <mat-option *ngFor="let city of cities" [value]="city.value">
          {{city.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span *ngIf="!isLoggedIn()" class="toolbar_login "><a routerLink="/login">Log In</a></span>
  <i class="fa fa-user fa-fw" *ngIf="isLoggedIn()"></i>
  <mat-form-field *ngIf="isLoggedIn()" class="fa fa-user fa-fw">
    <mat-select >
      <mat-option *ngFor="let link of links" [value]="link.value">
        <a [routerLink]="[link.routerlink]">
        {{link.value}}</a>
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar> 


