.mat-toolbar{
    background: white;
    border-bottom: 1px solid #d6d6d6;
}

.toolbar_logo{
    color: #f44336;
    font-weight: 600;
    margin-right: 20px;
    font-size: 1.1em;
}

.toolbar_city{
    flex: 1 0 auto;
    margin-left: 20px;
    font-size: 0.75em;
}

.toolbar_login{
    color: #f44336;
    font-weight: bold;
    font-size: 0.9em;
}