<section class="section-1">
  <div class="section-1_text-1">Book your child’s next</div>
  <div #rotatingText class="section-1_text-2"></div>
  <div class="section-1_text-3">Drop-ins, semesters, camps and events—discover it all on Noddy</div>
  <div>
    <form>
      <mat-form-field>
          <input type="text" matInput placeholder="Search Events" [(ngModel)]="eventName" name="eventName">
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field>
          <mat-select [(ngModel)]="eventDate" name="eventDate">
            <mat-option *ngFor="let date of dates" [value]="date.value">
              {{date.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        <button mat-raised-button color="warn" (click)="savefilters(eventName,eventDate)" [routerLink]="['/activities']">Search</button>
  </form>
  </div>
</section>
<section class="section-2">
  <div class="section-2_img">
      <img src="/assets/images/img2.png" alt="">
  </div>    
  <div class="section-2_text">
    <h2>Mom and dad’s go-to tool</h2>
    <p>Newfound web-scheduling convenience gives you deserved support as you book and manage your children’s wonder-full schedules at home or on the go.</p>
  </div> 
</section>
<section class="section-3">
  <h3>Sawyer partners with the best-in-class providers in each community who teach everything from ballet curtsies to science experiments</h3>
  <div>
  <button mat-raised-button color="warn" (click)="savefilters('','','2')" [routerLink]="['/activities']">FOR MINI MOVERS | 0 - 2 YRS</button>
</div>
  <div class="section-3_provider-items">
    <div class="section-3_provider-item section-3_provider-items_1"  (click)="savefilters('','','2','0')" [routerLink]="['/activities']" *ngIf="records.categories[0]">
      <div>{{records.categories[0]}}</div>
    </div>
    <div class="section-3_provider-item section-3_provider-items_2" (click)="savefilters('','','2','1')" [routerLink]="['/activities']" *ngIf="records.categories[1]">
      <div>{{records.categories[1]}}</div>
    </div>
    <div class="section-3_provider-item section-3_provider-items_3" (click)="savefilters('','','2','2')" [routerLink]="['/activities']" *ngIf="records.categories[2]">
      <div>{{records.categories[2]}}</div>
    </div>
  </div>
  <div class="section-3_provider-items">
      <div class="section-3_provider-item section-3_provider-items_4" (click)="savefilters('','','2','3')" [routerLink]="['/activities']" *ngIf="records.categories[3]">
        <div>{{records.categories[3]}}</div>
      </div>
      <div class="section-3_provider-item section-3_provider-items_5" (click)="savefilters('','','2','4')" [routerLink]="['/activities']" *ngIf="records.categories[11]">
        <div>{{records.categories[4]}}</div>
      </div>
      <div class="section-3_provider-item section-3_provider-items_6" (click)="savefilters('','','2','5')" [routerLink]="['/activities']" *ngIf="records.categories[5]">
        <div>{{records.categories[5]}}</div>
      </div>
  </div>
  <div>
      <button mat-raised-button color="warn" [routerLink]="['/activities']" (click)="savefilters('','','2')">View All 0 - 2 yrs</button>  
  </div>  
</section>
<section class="section-4">

</section>