<section class="section-1">
  <div class="section-1_text-1">Discover your child’s next</div>
  <div #rotatingText class="section-1_text-2"></div>
  <div>
    <form>
      <mat-form-field>
          <input type="text" matInput placeholder="Search Events" [(ngModel)]="eventName" name="eventName">
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field>
          <mat-select style="color:#cc202e" [(ngModel)]="eventDate" name="eventDate">
            <mat-option *ngFor="let date of dates" [value]="date.value">
              {{date.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        <button mat-raised-button color="warn" (click)="savefilters(eventName,eventDate)" [routerLink]="['/activities']">Search</button>
  </form>
  </div>
</section>



<section class="section-3">
    <h1 class="text-color">
    Categories to explore
    </h1>
    
  <div class=" section-3_provider-items" >
    
        <div class="section-3_provider-item" style="background-image: url('/assets/images/img3.png')"  (click)="savefilters('','','2','0')" [routerLink]="['/activities']">
          <img src="url('{{records[0].image_url}}')">
          <div>{{records[0].category}}</div>
        </div>
        <div class="section-3_provider-item " style="background-image: url('/assets/images/img4.png')" (click)="savefilters('','','2','1')" [routerLink]="['/activities']" *ngIf="records[1].category">
          <img src="{{records[1].image_url}}">
          <div>{{records[1].category}}</div>
        </div>
        <div class="section-3_provider-item " style="background-image: url('/assets/images/img5.png')" (click)="savefilters('','','2','2')" [routerLink]="['/activities']" *ngIf="records[2].category">
          <img src="{{records[2].image_url}}">
          <div>{{records[2].category}}</div>
        </div>
        <div class="section-3_provider-item " style="background-image: url('/assets/images/img6.png')" (click)="savefilters('','','2','3')" [routerLink]="['/activities']" *ngIf="records[3].category">
          <img src="{{records[3].image_url}}">  
          <div>{{records[3].category}}</div>
        </div>
        <div class="section-3_provider-item " style="background-image: url('/assets/images/img7.png')" (click)="savefilters('','','2','4')" [routerLink]="['/activities']" *ngIf="records[4].category">
          <img src="{{records[4].image_url}}">
          <div>{{records[4].category}}</div>
        </div>
         
    </div>
</section>

<section class="section-4">
    <button class="backbut btn btn-danger btn-circle btn-xl" style="margin:1em"><i class="fa fa-long-arrow-left"></i></button>
    <button class="forbut btn btn-danger btn-circle btn-xl" style="margin:1em"><i class="fa fa-long-arrow-right"></i></button>
</section>

<div class="your-class">
    <div class="carousel-item col-md-4" >
        <div class="card">
          <img class="card-img-top img-fluid" src={{events[0].event_image_url}}  width="100" height="100">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                  <p>{{events[0].event_last_date}}</p>
              </div>
              <div class="col-md-10">
                  <h4 class="card-title" style="color: crimson">{{events[0].event_name}}</h4>
                  <p class="card-text "><small><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{events[0].event_location.address.street}} , {{events[0].event_location.address.city}}</small></p>
                  <p class="card-text text-muted" *ngIf="events[0].event_start_time"><small><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{events[0].event_start_time}} to {{events[0].event_end_time}}</small></p>
                  <p class="card-text text-muted" *ngIf="events[0].event_price"><small><i class="fa fa-rupee"></i>&nbsp;{{events[0].event_price}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4" >
          <div class="card">
            <img class="card-img-top img-fluid" src={{events[1].event_image_url}}  width="100" height="100">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                    <p>{{events[1].event_last_date}}</p>
                </div>
                <div class="col-md-10">
                    <h4 class="card-title" style="color: crimson">{{events[1].event_name}}</h4>
                    <p class="card-text "><small><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{events[1].event_location.address.street}} , {{events[1].event_location.address.city}}</small></p>
                    <p class="card-text text-muted" *ngIf="events[1].event_start_time"><small><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{events[1].event_start_time}} to {{events[1].event_end_time}}</small></p>
                    <p class="card-text text-muted" *ngIf="events[1].event_price"><small><i class="fa fa-rupee"></i>&nbsp;{{events[1].event_price}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="carousel-item col-md-4" >
            <div class="card">
              <img class="card-img-top img-fluid" src={{events[2].event_image_url}}  width="100" height="100">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                      <p>{{events[2].event_last_date}}</p>
                  </div>
                  <div class="col-md-10">
                      <h4 class="card-title" style="color: crimson">{{events[2].event_name}}</h4>
                      <p class="card-text "><small><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{events[2].event_location.address.street}} , {{events[2].event_location.address.city}}</small></p>
                      <p class="card-text text-muted" *ngIf="events[2].event_start_time"><small><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{events[2].event_start_time}} to {{events[2].event_end_time}}</small></p>
                      <p class="card-text text-muted" *ngIf="events[2].event_price"><small><i class="fa fa-rupee"></i>&nbsp;{{events[2].event_price}}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>    

          <div class="carousel-item col-md-4" >
              <div class="card">
                <img class="card-img-top img-fluid" src={{events[3].event_image_url}}  width="100" height="100">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                        <p>{{events[3].event_last_date}}</p>
                    </div>
                    <div class="col-md-10">
                        <h4 class="card-title" style="color: crimson">{{events[3].event_name}}</h4>
                        <p class="card-text "><small><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{events[3].event_location.address.street}} , {{events[3].event_location.address.city}}</small></p>
                        <p class="card-text text-muted" *ngIf="events[3].event_start_time"><small><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{events[3].event_start_time}} to {{events[3].event_end_time}}</small></p>
                        <p class="card-text text-muted" *ngIf="events[3].event_price"><small><i class="fa fa-rupee"></i>&nbsp;{{events[3].event_price}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item col-md-4" >
                <div class="card">
                  <img class="card-img-top img-fluid" src={{events[4].event_image_url}}  width="100" height="100">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2">
                          <p>{{events[4].event_last_date}}</p>
                      </div>
                      <div class="col-md-10">
                          <h4 class="card-title" style="color: crimson">{{events[4].event_name}}</h4>
                          <p class="card-text "><small><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{events[4].event_location.address.street}} , {{events[4].event_location.address.city}}</small></p>
                          <p class="card-text text-muted" *ngIf="events[4].event_start_time"><small><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{events[4].event_start_time}} to {{events[4].event_end_time}}</small></p>
                          <p class="card-text text-muted" *ngIf="events[4].event_price"><small><i class="fa fa-rupee"></i>&nbsp;{{events[4].event_price}}</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item col-md-4" >
                  <div class="card">
                    <img class="card-img-top img-fluid" src={{events[5].event_image_url}}  width="100" height="100">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2">
                            <p>{{events[5].event_last_date}}</p>
                        </div>
                        <div class="col-md-10">
                            <h4 class="card-title" style="color: crimson">{{events[5].event_name}}</h4>
                            <p class="card-text "><small><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{events[5].event_location.address.street}} , {{events[5].event_location.address.city}}</small></p>
                            <p class="card-text text-muted" *ngIf="events[5].event_start_time"><small><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{events[5].event_start_time}} to {{events[5].event_end_time}}</small></p>
                            <p class="card-text text-muted" *ngIf="events[5].event_price"><small><i class="fa fa-rupee"></i>&nbsp;{{events[5].event_price}}</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item col-md-4" >
                    <div class="card">
                      <img class="card-img-top img-fluid" src={{events[6].event_image_url}}  width="100" height="100">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2">
                              <p>{{events[6].event_last_date}}</p>
                          </div>
                          <div class="col-md-10">
                              <h4 class="card-title" style="color: crimson">{{events[6].event_name}}</h4>
                              <p class="card-text "><small><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{events[6].event_location.address.street}} , {{events[6].event_location.address.city}}</small></p>
                              <p class="card-text text-muted" *ngIf="events[6].event_start_time"><small><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{events[6].event_start_time}} to {{events[6].event_end_time}}</small></p>
                              <p class="card-text text-muted" *ngIf="events[6].event_price"><small><i class="fa fa-rupee"></i>&nbsp;{{events[6].event_price}}</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>       
         
  </div>









  
    