
<div class="filter-container">
    <h4>BOOKING TYPE</h4>
    <div>
        <button mat-raised-button (click)="onBookingType('Drop-in')">Drop-in</button>
        <button mat-raised-button (click)="onBookingType('Semester')">Semester</button>
        <button mat-raised-button (click)="onBookingType('Camp')">Camp</button>
    </div><br>
    <h4>LOCATION</h4>
    <div class="filter-container_location">
        <mat-form-field>
            <input type="text" [(ngModel)]="location" matInput placeholder="Enter address or neighbor">
        </mat-form-field>
    </div>
    <h4>TIME</h4>
    <div> 
        <nouislider [connect]="true" [min]="0" [step]="1" [max]="36" [(ngModel)]="inputSpeedRange"></nouislider>
    </div>
    <div>
        <mat-slider min="0" step="1" max="35" [(ngModel)]="inputRange" thumbLabel tickInterval="1"></mat-slider>
        {{inputRange}}
    </div> 
    
    <!-- <div>
        {{values}}
    </div> -->
    
    <div class="row">
            <div class="mat-raised-button box col-md-2">
                    {{inputSpeedRange[0]}}
            </div>
            <div class="mat-raised-button box col-md-2">
                    {{inputSpeedRange[1]}}
             </div>
    </div>
    <div>   
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>AGE</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-container_age-panel">
                <div class="filter-container_age-panel-left">
                    <mat-checkbox (change)="onChangeAges($event, '2')" >less than 2</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '6')">less than 6</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '10')">less than 10</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '14')">less than 14</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '18')">less than 18</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '22')">less than 22</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, 'No Adult Required')">No Adult Required</mat-checkbox>
                </div>
                <div class="filter-container_age-panel-right">
                    <mat-checkbox (change)="onChangeAges($event, '4')">less than 4</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '8')">less than 8</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '12')">less than 12</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '16')">less than 16</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '20')">less than 20</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, 'Adult')">Adult</mat-checkbox>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
    <div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>CATEGORY</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-container_category-panel" >
                <div class="filter-container_category-panel-left">
                    <mat-checkbox *ngFor="let categorie of records" (change)="onChangeCategorie($event, categorie.name)">{{categorie.name}}</mat-checkbox>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
    <div>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>PROVIDERS</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-container_category-panel" >
                    <div class="filter-container_category-panel-left">
                        <mat-checkbox *ngFor="let provider of  staticproviderslist" (change)="onChangeProvider($event, event)">{{provider}}</mat-checkbox>
                    </div>
            </div>
        </mat-expansion-panel>
    </div>
    <br>
    <div>
        <button mat-raised-button color="warn" (click)="onClearFilters()">Clear All Filters</button>
        <button mat-raised-button color="warn" style="margin-left:2px " (click)="onApplyChanges()">Apply</button>
    </div>
</div>
