.filter-container_age-panel,.filter-container_age-panel-left,.filter-container_age-panel-right,.filter-container_category-panel,.filter-container_category-panel-left,.filter-container_category-panel-right{
    display: flex;
}

.filter-container_age-panel-left,.filter-container_age-panel-right,.filter-container_category-panel-left,.filter-container_category-panel-right{
    flex-direction: column;
}

.filter-container_location .mat-form-field{
    width: 100%
}

.filter-container{
    padding: 25px;
    height: 600px;
    overflow: auto;
    background-color: #f3f0eb;
}