
<div class="filter-container">
   
    <h4>BOOKING TYPE</h4>
    <div class="row">
        <button mat-raised-button (click)="onBookingType('Current date')">Current</button>
        <button mat-raised-button (click)="onBookingType('Next date')">Next Week</button>
        <button mat-raised-button (click)="onBookingType('Later')">Later</button>
    </div><br>
    <h4>LOCATION</h4>
    <div class="filter-container_location">
        <mat-form-field>
            <input type="text" [(ngModel)]="location" matInput placeholder="Enter address or neighbor">
        </mat-form-field>
    </div>
    <h4>Event Name</h4>
    <div class="filter-container_location">
        <mat-form-field>
            <input type="text" [(ngModel)]="eventName" matInput placeholder="Enter Event Name to search">
        </mat-form-field>
    </div>
    <h4>TIME</h4>
    <div> 
        <nouislider [connect]="true" [min]="0" [step]="1" [max]="24" [(ngModel)]="inputSpeedRange"></nouislider>
    </div>
    
    
    <div class="row">
            <div class="mat-raised-button box col-md-2" style="margin-left:20px">
                    {{inputSpeedRange[0]}}
            </div>
            <div class="mat-raised-button box col-md-2" style="margin-left:60px">
                    {{inputSpeedRange[1]}}
             </div>
    </div>
    <div>   
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>AGE</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-container_age-panel">
                <div class="filter-container_age-panel-left">
                    <mat-checkbox (change)="onChangeAges($event, '0');onChangeAges($event, '2')" >0 - 2 yrs</mat-checkbox>    
                    <mat-checkbox (change)="onChangeAges($event, '4');onChangeAges($event, '6')">4 - 6 yrs</mat-checkbox> 
                    <mat-checkbox (change)="onChangeAges($event, '8');onChangeAges($event, '10')">8 - 10 yrs</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '12');onChangeAges($event, '14')">12 - 14 yrs</mat-checkbox>
                </div>
                <div class="filter-container_age-panel-right">
                    <mat-checkbox (change)="onChangeAges($event, '2');onChangeAges($event, '4')">2 - 4 yrs</mat-checkbox>
                     <mat-checkbox (change)="onChangeAges($event, '6');onChangeAges($event, '8')">6 - 8 yrs</mat-checkbox>
                     <mat-checkbox (change)="onChangeAges($event, '10');onChangeAges($event, '12')">10 - 12 yrs</mat-checkbox>
                    <mat-checkbox (change)="onChangeAges($event, '14');onChangeAges($event, '16')">14 - 16 yrs</mat-checkbox>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
    <div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>CATEGORY</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-container_category-panel" >
                <div class="filter-container_category-panel-left">
                    <mat-checkbox *ngFor="let categorie of records" (change)="onChangeCategorie($event, categorie.name)">{{categorie.name}}</mat-checkbox>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
    <div>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>PROVIDERS</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filter-container_category-panel" >
                    <div class="filter-container_category-panel-left">
                        <mat-checkbox *ngFor="let provider of  staticproviderslist" (change)="onChangeProvider($event, event)">{{provider}}</mat-checkbox>
                    </div>
            </div>
        </mat-expansion-panel>
    </div>
    <br>
    <div>
        <button mat-raised-button color="warn" (click)="onClearFilters()">Clear All Filters</button>
        <button mat-raised-button color="warn" style="margin-left:2px " (click)="onApplyChanges()">Apply</button>
    </div>
</div>
