<div class="container list-container">
  <mat-card *ngFor="let record of subscribed">
    <mat-card-header (click)="openModal('custom-modal')">
    <div class="row"> 
        <div class="media col-lg-6">
          <figure class="pull-left">
            <img class="media-object img-rounded img-fluid" src={{record.event_image_url}} alt="placehold.it/350x250">
          </figure>
        </div>

        <div class="col-lg-3">
          <h4 class="list-group-item-heading heading_txt" (click)="openModal('custom-modal')"> {{record.event_name}} </h4>
          <p class="list-group-item-text"> {{record.event_min_age}} yrs to {{record.event_max_age}} yrs
          </p>
          <p class ="list-group-item-text">
            Rs {{record.event_price}} 
          </p>
        </div>
        <div class="col-lg-3 text-center">
          <h2 class="date_color"> {{record.event_location.address.city}} <small> {{record.event_last_date}} </small></h2>
          <kbd style="margin:4px">Subscribed</kbd>
        </div>
    </div>
  </mat-card-header>
  </mat-card>

  <mat-card *ngFor="let record of posted">
    <mat-card-header (click)="openModal('custom-modal')">
    <div class="row"> 
        <div class="media col-lg-6">
          <figure class="pull-left">
            <img class="media-object img-rounded img-fluid" src={{record.event_image_url}} alt="placehold.it/350x250">
          </figure>
        </div>
        <div class="col-lg-3">
          <h4 class="list-group-item-heading heading_txt" > {{record.event_name}} </h4>
          <p class="list-group-item-text"> {{record.event_min_age}} yrs to {{record.event_max_age}} yrs
          </p>
          <p class ="list-group-item-text">
            Rs {{record.event_price}} 
          </p>
        </div>
        <div class="col-lg-3 text-center">
          <h2 class="date_color"> {{record.event_location.address.city}} <small> {{record.event_last_date}} </small></h2>
        </div>
    </div>
  </mat-card-header>
  </mat-card>
</div>


<jw-modal id="custom-modal">
    <h1 style="height:1000px">A Tall Custom Modal!</h1>
    <button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal>

  
