/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~nouislider/distribute/nouislider.min.css";

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.noUi-connect {
    background: #f44336;
}

.noUi-handle {
    border-radius: 10%;
}

.noUi-handle:focus{
    outline-color: #d2d2d2;
}

.noUi-target{
    background: #ffffff;
}
.noUi-target, .noUi-handle{
    border:unset;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}