<div class="container list-container">
  <h3 style="margin-top: 0">{{nowDate}}</h3>
  <mat-card *ngFor="let record of records.events"  >
    <mat-card-header >
    <div class="row"> 
        <div class="media col-lg-6">
          <figure class="pull-left">
            <img class="media-object img-rounded img-fluid" src={{record.event_image_url}} alt="placehold.it/350x250">
          </figure>
        </div>
        <div class="col-lg-3">
          <h4 class="list-group-item-heading heading_txt" > {{record.event_name}} </h4>
          <p class="list-group-item-text"> {{record.event_min_age}} yrs to {{record.event_max_age}} yrs
          </p>
          <p class ="list-group-item-text">
            Rs {{record.event_price}} 
          </p>
        </div>
        <div class="col-lg-3 text-center">
          <h2 class="date_color"> {{record.event_location.address.city}} <small> {{record.event_last_date}} </small></h2>
          <a target="_blank" href={{record.event_booking.url}}><button *ngIf="bAuthenticated" type="button" class="btn btn-default btn-lg btn-block" > Register now</button></a>
          <p *ngIf="!bAuthenticated">U need to log in to register</p>
          <div class="row" style="margin:4px"> 
            <button class="btn btn-info" style="margin:4px" (click)="share(record.event_booking.url,record.event_name,record.event_image_url,record.event_location.address.city,record.event_price,record.event_last_date)"><i class="fa fa-facebook"></i></button>
            <button class="btn btn-dark" style="margin:4px" (click)="collapsed=false" *ngIf="collapsed" ><i class="fa fa-plus"></i></button>
          </div>
         
        </div>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="!collapsed">
      <div class="col-lg-9">
        <h3>Description</h3>
          <h4 class="list-group-item-heading heading_txt" > {{record.event_description}} </h4>
        <h3>Venue</h3>
          <h4 class="list-group-item-heading heading_txt" > {{record.event_location.address.city}}, {{record.event_location.address.street}}, {{record.event_location.address.pincode}} </h4>  
        </div>
      <button mat-button (click)="collapsed=true">collapse Card</button>
  </mat-card-content>
  </mat-card>
</div>

